.logo{
    width: 250px;
    margin-left: -50px;
    display: flex;
    height: 75px;
    align-items: center;
    justify-content: center;
    background-color: rgb(14, 138, 117);
}

#logo{
    display: block;
    width: 177px;
    height: 47px;
    background-color: rgb(231, 222, 222);
}
/* span{
    display: block;
    width: 177px;
    height: 47px;
} */