body{
    background-color:#722ed1 !important;
}
h1{
    color: white !important;
    text-shadow: 2px 2px 4px #000000 !important;
    text-align: center;
    margin-top: 2em;
    font-size: 3em ;
}

.loginForm{
width: 25%;
margin-top: 5%;
margin-left: 37.5%;
background-color: whitesmoke;
padding: 3em;
border-radius: 10px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* .loginHeader{
    height: 56px;
    line-height: 56px;
    color: black;

} */

.loginText{
    /* font-size: 16px; */
    /* opacity: .3; */
}