.addDoctor{
    float: right;
    margin-bottom: 2em;
}

.planButton{
   padding-left: 1.5em;
   padding-right: 1.6em;
}

.plan{
    color: white;
    padding-left: 0.5em;
}
.plan :hover{
    color: white !important;
}

h2{
  font-size: 2em;
  text-align: center;
  margin-bottom: 1em;
  color: rgb(100, 97, 97);
}